<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>spLit API Testing landing page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.5.0-beta.2/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>

  <script src="controllers/users.js"></script>
  <style type="text/css">
      .bs-example{
        margin: 20px;
      }
  </style>
</head>
<body ng-app="usersCreateApp" ng-controller="usersCreateCtrl">

  <nav id="mainNavbar" class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">spLit API Test</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="active"><a href="#">Create Users</a></li>
            <li><a href="manageUsers.html">Manage Users</a></li>
          </ul>
        </li>
        <li><a href="#">Bills</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    </div>
  </nav>
  
  <div class="container-fluid">
    <div class="jumbotron">
    <!-- Create user forms -->
    <form name="userForm" ng-controller="usersCreateCtrl">
      <div class="create-user">
        <div class="form-group">
          <label for="inputFirstName">First Name</label>
          <input type="text" class="form-control" id="inputFirstName" ng-model="user.firstname" placeholder="First Name">
          <span ng-show="errorFirstName">{{errorFirstName}}</span>
        </div>

        <div class="form-group">
          <label for="inputLastName">Last Name</label>
          <input type="text" class="form-control" id="inputLastName" ng-model="user.lastname" placeholder="Last Name">
          <span ng-show="errorLastName">{{errorLastName}}</span>
        </div>

        <div class="form-group">
          <label for="inputUsername">Username</label>
          <input type="text" class="form-control" id="inputUsername" ng-model="user.username" placeholder="Username">
          <span ng-show="errorUsername">{{errorUsername}}</span>
        </div>

        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" ng-model="user.email" placeholder="Email">
          <span ng-show="errorEmail">{{errorEmail}}</span>
        </div>

        <div class="form-group">
          <label for="inputPhone">Phone</label>
          <input type="number" class="form-control" id="inputPhone" ng-model="user.phone" placeholder="Phone">
          <span ng-show="errorPhone">{{errorPhone}}</span>
        </div>
      </div>  
      <button type="submit" class="btn btn-primary" ng-click="createUser()">Create User</button>
    </div>
  </div>
</body>
</html>                                   